html {
    position: relative;
    min-height: 100%;
}

body {
    overflow: hidden;
	font-family: 'Exo', sans-serif;
	margin-bottom: 60px;
} 

video {
	min-height:52.747vw;
	min-width:100%;
	width: 189.583vh;
	position:fixed;

	top: 0;
	z-index:-1;
}

.logo {
    max-width: 100px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

p {
	color: #fff;
	font-weight: bold;
	font-size: 300%;

}

.row {
	padding:10px;
}

textarea{
	resize:none;
}


.active {
	background-color: rgba(255,255,255,0.2);
}



h1 {
	color:white;
}

p {
	font-size:small;
}

.title{
	text-align:center;
	padding:0.15em;
	padding-top:3em;
}

.dark-transparent {
    background-color: rgba(0,0,0,0.1);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  font-size:xx-small;
  text-align: center;
  line-height: 60px; 
  font-family:'Exo';
  text-transform: uppercase;
}


.container {
    text-align: center;
    overflow: hidden;
}

.navbar-brand img.brand {
	height: 35px;
}



.navbar-dark .navbar-nav .nav-link.active {
	color: #666;
}


.navbar-collapse .navbar-nav .nav-item a.nav-link:hover {
	border: 1px solid #00d1fd;
	border-radius: 5px;
}

.navbar-collapse .navbar-nav .nav-item a.nav-link {
	border: 1px solid transparent;
	border-radius: 5px;
	color: #fff;
}

button.navbar-toggler:focus {
	  outline: none;
}



@media (max-width: 767.98px) {
	.navbar-collapse {
		background-color: #fff;
		display: flex;
		flex-direction: column;
	}
	.navbar-collapse .navbar-nav {
		margin: auto;
		text-align: center;
	}
	.navbar-collapse .navbar-nav .nav-item {
	justify-content: center;
	margin: 1em;
	}

	.navbar-collapse .navbar-nav .nav-item a.nav-link {
		color: #333;
	}
}

}

